@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400&family=Source+Code+Pro:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* logo de nav en donde sea aplicable */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inicio {
    font-family: 'Roboto Condensed', sans-serif;
	background-image: url(/img/inicio.jpg);
	color: #1d1d1d;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.apolo {
    font-family: 'Permanent Marker', cursive;
	background-image: url(/img/apolo.jpg);
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.artemis {
    font-family: 'Permanent Marker', cursive;
	background-image: url(/img/artemis.jpg);
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.artemis {
    font-family: 'Permanent Marker', cursive;
	background-image: url(/img/artemis.jpg);
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.spunik {
    font-family: 'Permanent Marker', cursive;
	background-image: url(/img/spunik.jpg);
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.ninguno {
    font-family: 'Permanent Marker', cursive;
	background-image: url(/img/ninguno.jpg);
	color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#logo{
    width: 25%;
    align-items: center;
  }

header{
    width: 100%;
}

/* nav children style*/
.encabezado{
    background-image: url(/img/XiP3qS0.jpg);
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 0;
    text-align: center;
    justify-content: center;
    gap: 250px;
    flex-wrap:nowrap;
    width:100%;
    font-size: 25px;
    
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.contenedor {
    text-align: center;
    padding: 13%;
    font-size: 90px;
    font-weight: 800;
}

#emoji {
   display: none;
}

#emoji img {
    width: 80%;
}

#logoCampusLand {
    display: none;
}

#logoCampusLand img {
    width: 100%;
}
